@import helper._

<div class="overlay_outer" id="make_a_rack">
    <div class="overlay_inner">
        <div class="overlay_header">
            <h2>Create A Rack</h2>
        </div>
        <div class="overlay_content">
            <p class="text-center lead">I'm looking for...</p>
            <form>
                <div class="form">
                    <div class="control">
                        <label for="category">Category</label>
                        <div>
                            <select id="category" class="chosen chosen_select">
                                <option value=""></option>
                                <option value="Dresses">Dresses</option>
                                <option value="Shirts">Shirts</option>
                                <option value="Trousers">Trousers</option>
                                <option value="Dresses">Dresses</option>
                                <option value="Shirts">Shirts</option>
                                <option value="Trousers">Trousers</option>
                                <option value="Dresses">Dresses</option>
                                <option value="Shirts">Shirts</option>
                                <option value="Trousers">Trousers</option>
                                <option value="Dresses">Dresses</option>
                                <option value="Shirts">Shirts</option>
                                <option value="Trousers">Trousers</option>
                                <option value="Dresses">Dresses</option>
                                <option value="Shirts">Shirts</option>
                                <option value="Trousers">Trousers</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <label for="occasion">Occasion</label>
                        <div>
                            <input type="text" placeholder="Party, Summer Ball, Work" id="occasion">
                        </div>
                    </div>
                    <div class="control">
                        <label for="hashtags">#Hashtags</label>
                        <div>
                            <input type="text" placeholder="#summer #red #weekends" id="hashtags" class="hash_tag">
                        </div>
                    </div>
                    <div class="control">
                        <label for="day">Deadline</label>
                        <div class="date">
                            <select id="day" class="chosen chosen_select_nosearch" data-placeholder="Day">
                                <option value=""></option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                            </select>
                            <select id="month" class="chosen chosen_select_nosearch" data-placeholder="Month">
                                <option value=""></option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select id="hour" class="chosen chosen_select_nosearch" data-placeholder="Hour">
                                <option value=""></option>
                                <option value="01">01:00</option>
                                <option value="02">02:00</option>
                                <option value="03">03:00</option>
                                <option value="04">04:00</option>
                                <option value="05">05:00</option>
                                <option value="06">06:00</option>
                                <option value="07">07:00</option>
                                <option value="08">08:00</option>
                                <option value="09">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                                <option value="24">24:00</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="make_rack">
                    <div class="make_rack_item">
                        <div>
                            <img src="@routes.Assets.at("images/rack1.jpg")"><!-- just a placeholder, not sure how your doing the image uploads but I'll style it when you have added it.-->
                            <a href="#" class="remove_btn">Remove</a>
                        </div>
                    </div>
                    <div class="make_rack_item">
                        <div>
                            <img src="@routes.Assets.at("images/rack2.jpg")"><!-- just a placeholder, not sure how your doing the image uploads but I'll style it when you have added it.-->
                            <a href="#" class="remove_btn">Remove</a>
                        </div>
                    </div>
                    <div class="make_rack_item">
                        <div>
                            <img src="@routes.Assets.at("images/rack3.jpg")"><!-- just a placeholder, not sure how your doing the image uploads but I'll style it when you have added it.-->
                            <a href="#" class="remove_btn">Remove</a>
                        </div>
                    </div>
                    <div class="make_rack_item">
                        <div>
                            <img src="@routes.Assets.at("images/add_rack_img.png")">
                            <a href="#" class="holding_btn">Add from Hold Area</a>
                            <a href="#" class="site_btn">Add from URL</a>
                            <a href="#" class="upload_btn">Upload from Computer</a>
                        </div>
                    </div>
                    <div class="make_rack_item">
                        <div>
                            <img src="@routes.Assets.at("images/add_rack_img.png")">
                            <a href="#" class="holding_btn">Add from Hold Area</a>
                            <a href="#" class="site_btn">Add from URL</a>
                            <a href="#" class="upload_btn">Upload from Computer</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="overlay_footer">
            <div class="actions">
                <a href="#" class="btn btn_cancel">Cancel</a>
                <a href="#" class="btn">Create a Rack</a>
            </div>
        </div>
    </div>
</div>
