@import helper._



<div class="footer">
    <div class="container">
        <div class="footer_left">
            <a href="#">Privacy Polacy</a>  -  <a href="#">Terms and Conditions</a>
        </div>
        <div class="footer_right">
            MyShoppingRack &copy; 2014
        </div>
    </div>
</div>
<div id="create-rack" class="white-popup mfp-hide">
   <form>
       <input type="text" name="Name"/>
       <input type="submit" name="submit"/>
   </form>
</div>