@import helper._

<div class="header">
    <div class="container">
        <div class="left_nav">
            <div>
                <a href="#" id="menu_btn">Menu</a>
            </div>
            <div>
                <a href="/" class="logo"><h1>My Shopping Rack</h1></a>
            </div>
        </div>
        <div class="right_nav">
            <div>
                <a href="#" id="rack_btn">New Rack</a>
            </div>
            <div>
                <a href="#" id="alerts_btn">Alerts<span>5</span></a>
            </div>
            <div>
                <a href="/" id="user_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.jpg")"" /></div><div class="name">Jane Barker</div><span id="user_dropdown"></span></a>
            </div>
        </div>

    </div>
</div>
