@import helper._

<div class="pod">
    <div class="pod_top">
        <a href="#" class="pod_face">
            <img src="@routes.Assets.at("images/demo1.jpg")">
        </a>
        <div class="pod_title">
            <a href="#">Jane Barker</a> created <a href="#">Mini Dresses</a> for <a href="#" class="hash_tag">#gradball</a>
        </div>
        <div class="pod_top_right">
            <div class="countdown">
                <div>56:23:10</div>
            </div>
        </div>
    </div>

    <div class="pod_content pod_rack">
        <ul>
            <li>
                <div class="rack_image">
                    <img src="@routes.Assets.at("images/rack1.jpg")">
                    <a href="#" class="vote_btn">Vote</a>
                    <a href="#" class="rack_btn">Rack</a>
                    <a href="#" class="info_btn">Information</a>
                </div>
            </li>
            <li>
                <div class="rack_image">
                    <img src="@routes.Assets.at("images/rack2.jpg")">
                    <a href="#" class="vote_btn">Vote</a>
                    <a href="#" class="rack_btn">Rack</a>
                    <a href="#" class="info_btn">Information</a>
                </div>
            </li>
            <li>
                <div class="rack_image">
                    <img src="@routes.Assets.at("images/rack3.jpg")">
                    <a href="#" class="vote_btn">Vote</a>
                    <a href="#" class="rack_btn">Rack</a>
                    <a href="#" class="info_btn">Information</a>
                </div>
            </li>
            <li>
                <div class="rack_image">
                    <img src="@routes.Assets.at("images/rack4.jpg")">
                    <a href="#" class="vote_btn">Vote</a>
                    <a href="#" class="rack_btn">Rack</a>
                    <a href="#" class="info_btn">Information</a>
                </div>
            </li>
            <li>
                <div class="rack_image">
                    <img src="@routes.Assets.at("images/rack5.jpg")">
                    <a href="#" class="vote_btn">Vote</a>
                    <a href="#" class="rack_btn">Rack</a>
                    <a href="#" class="info_btn">Information</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="pod_footer">
        <div class="pod_comments">
            <a href="#">27</a>
        </div>
        <div class="pod_vote_summery">
            <a href="#">27</a>
        </div>
        <div class="pod_hash_tags">
            <a href="#" class="hash_tag">#summercollection</a> <a href="#" class="hash_tag">#happytimes</a> <a href="#" class="hash_tag">#cheapoutfit</a>
        </div>
        <div class="pod_footer_right">
            <div class="pod_share">
                <a href="#">Share</a>
            </div>
        </div>
    </div>
</div>