@import helper._

<div class="overlay_outer" id="rack_item">
    <div class="overlay_inner nofooter">
        <div class="overlay_header">
            <a href="#" class="face_circle">
                <img src="@routes.Assets.at("images/demo1.png")">
            </a>
            <div class="overlay_title">
                <a href="#">Jane Barker</a> created <a href="#">mini dresses</a> for <a href="#" class="hash_tag">#gradball</a>
            </div>
            <div class="countdown">
                <div>56:23:10</div>
            </div>
        </div>
        <div class="overlay_content">
            <div class="overlay_rack">
                <div class="overlay_rack_carosel" id="carosel_img">
                    <div><img src="@routes.Assets.at("images/rack1.png")" alt=""/></div>
                    <div><img src="@routes.Assets.at("images/rack2.png")" alt=""/></div>
                    <div><img src="@routes.Assets.at("images/rack3.png")" alt=""/></div>
                    <div><img src="@routes.Assets.at("images/rack4.png")" alt=""/></div>
                    <div><img src="@routes.Assets.at("images/rack5.png")" alt=""/></div>
                </div>
                <ul id="carosel_nav" class="overlay_rack_carosel_nav">
                </ul>
                <div class="rack_stats" id="carosel_stats">
                    <div><span class="rack_votes">35</span><span class="rack_racks">2</span><span class="rack_comments">10</span></div>
                    <div><span class="rack_votes">25</span><span class="rack_racks">2</span><span class="rack_comments">10</span></div>
                    <div><span class="rack_votes">46</span><span class="rack_racks">4</span><span class="rack_comments">10</span></div>
                    <div><span class="rack_votes">68</span><span class="rack_racks">3</span><span class="rack_comments">10</span></div>
                    <div><span class="rack_votes">11</span><span class="rack_racks">1</span><span class="rack_comments">10</span></div>
                </div>
                <div class="rack_actions">
                    <a href="#" class="vote_btn btn">Vote</a>
                    <a href="#" class="rack_btn btn">Rack</a>
                    <a href="#" class="share_btn btn">Share</a>
                </div>
            </div>
            <div class="overlay_comments">
                <div class="overlay_comments_container">
                    <h3>Rack Comments</h3>
                    <div class="comments_container">
                        <ul>
                            <li>
                                <div class="profile_pic"><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.png")"></div></a></div>
                                <div class="comment">
                                    <h4>Jane Barker</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <div class="profile_pic"><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.png")"></div></a></div>
                                <div class="comment">
                                    <h4>Jane Barker</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <div class="profile_pic"><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.png")"></div></a></div>
                                <div class="comment">
                                    <h4>Jane Barker</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <div class="profile_pic"><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.png")"></div></a></div>
                                <div class="comment">
                                    <h4>Jane Barker</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <div class="profile_pic"><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.png")"></div></a></div>
                                <div class="comment">
                                    <h4>Jane Barker</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <div class="profile_pic"><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.png")"></div></a></div>
                                <div class="comment">
                                    <h4>Jane Barker</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="submit_comment">
                        <div class="text_area">
                            <textarea placeholder="Your Comment..." ></textarea>
                        </div>
                        <div class="submit_area">
                            <a class="btn">Add your Comment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>