@import helper._

<div class="overlay_outer" id="select_item">
    <div class="overlay_inner">
        <div class="overlay_header">
            <h2>Select Items</h2>
        </div>
        <div class="overlay_content">
            <div class="hold_area_popup">
                <div>
                    <ul class="hold_area_select">
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold1.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold2.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold3.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold4.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold5.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold1.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold2.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold3.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold4.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold5.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold1.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold2.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold3.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold4.png")"></a></li>
                        <li class="hold_area_item"><a href="#"><img src="@routes.Assets.at("images/hold5.png")"></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="overlay_footer">
            <div class="actions">
                <a href="#" class="btn btn_cancel">Cancel</a>
                <a href="#" class="btn">Select</a>
            </div>
        </div>
    </div>
</div>