
@import helper._

<div class="suggested_friends">
        <h3>Suggested Friends</h3>
        <ul>
            <li><a href="#" class="sidebar_profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.jpg")""></div><span>Jane Barker</span></a><a href="#" class="btn follow_btn">+ Follow</a></li>
            <li><a href="#" class="sidebar_profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo2.jpg")""></div><span>Darren Shilling</span></a><a href="#" class="btn follow_btn">+ Follow</a></li>
            <li><a href="#" class="sidebar_profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.jpg")""></div><span>Jane Barker</span></a><a href="#" class="btn follow_btn">+ Follow</a></li>
            <li><a href="#" class="sidebar_profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo2.jpg")""></div><span>Darren Shilling</span></a><a href="#" class="btn follow_btn">+ Follow</a></li>
        </ul>
        <a href="#">see more...</a>
    </div>