@import helper._

<div class="tranding_tags">
        <h3>Trending #tags</h3>
        <ul>
            <li><a href="#" class="hash_tag">#sportsday</a></li>
            <li><a href="#" class="hash_tag">#denimlook</a></li>
            <li><a href="#" class="hash_tag">#birthdayparty</a></li>
            <li><a href="#" class="hash_tag">#sportsday</a></li>
            <li><a href="#" class="hash_tag">#denimlook</a></li>
            <li><a href="#" class="hash_tag">#sportsday</a></li>
            <li><a href="#" class="hash_tag">#denimlook</a></li>
            <li><a href="#" class="hash_tag">#birthdayparty</a></li>
            <li><a href="#" class="hash_tag">#sportsday</a></li>
            <li><a href="#" class="hash_tag">#denimlook</a></li>
        </ul>
        <a href="#">see more...</a>
    </div>