<div id="sidebar">
    <input type="text" id="sidebar_update" update="false" style="display: none;"/> 
    <div class="sidebar_search">
        <form>
            <input type="text" placeholder="search people, racks and tags" id="search_input">
            <div id="search_submit_container"><input type="submit" value="Search" id="search_submit"></div>
        </form>
    </div>

    <div class="drop_down_menu">
        <div class="menu_tabs">
            <a href="#" id="women" class="active">Women</a><a href="#" id="men">Men</a>
        </div>
        <ul id="women_menu" class="active">
            <li>
                <h4>Clothing</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trouser Skirts</a></li>
                    <li><a href="#">Swimwear</a></li>
                    <li><a href="#">Cardigans & Jumpers</a></li>
                    <li><a href="#">Jackets & Coats</a></li>
                    <li><a href="#">Gold Label</a></li>
                    <li><a href="#">Contemporary</a></li>
                    <li><a href="#">Mod Box Fashion</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <h4>Dresses</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trouser Skirts</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <h4>Tops</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trouser Skirts</a></li>
                    <li><a href="#">Swimwear</a></li>
                    <li><a href="#">Cardigans & Jumpers</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <h4>Accessories</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
        </ul>
        <ul id="men_menu">
            <li>
                <h4>Men</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trouser Skirts</a></li>
                    <li><a href="#">Swimwear</a></li>
                    <li><a href="#">Cardigans & Jumpers</a></li>
                    <li><a href="#">Jackets & Coats</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <h4>Dresses</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trouser Skirts</a></li>
                    <li><a href="#">Gold Label</a></li>
                    <li><a href="#">Contemporary</a></li>
                    <li><a href="#">Mod Box Fashion</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <h4>Tops</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Swimwear</a></li>
                    <li><a href="#">Cardigans & Jumpers</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
            <li>
                <h4>Accessories</h4>
                <ul>
                    <li><a href="#">New in</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Trouser Skirts</a></li>
                    <li class="view_all"><a href="#">View all</a></li>
                </ul>
            </li>
        </ul>
    </div>

    @sidebar_hashes

    @sidebar_follow

</div>