@import helper._

<div class="pod following_user">
    <div class="pod_top">
        <a href="#" class="pod_face">
            <img src="@routes.Assets.at("images/demo1.jpg")">
        </a>
        <div class="pod_title">
            <a href="#">Jane Barker</a>  is now following <a href="#"><div class="face_circle"><img src="@routes.Assets.at("images/demo2.jpg")"></div><span>Darren Shilling</span></a>
        </div>
        <div class="pod_top_right">
            <div class="top_right_btn">
                <a href="#">+ Follow</a>
            </div>
        </div>
    </div>

</div>