@import helper._

<div class="pod following_user">
    <div class="pod_top">
        <a href="#" class="pod_face">
            <img src="@routes.Assets.at("images/demo1.jpg")">
        </a>
        <div class="pod_title">
            <a href="#">Jane Barker</a> is now following <a href="#">6 Friends</a>
        </div>
        <div class="pod_top_right">
            <div class="top_right_btn">
                <a class="top_right_view" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="pod_content following">
        <ul>
            <li><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.jpg")"></div><span>Jane Barker</span></a><a href="#" class="follow_btn">+ Follow</a></li>
            <li><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo2.jpg")"></div><span>Darren Shilling</span></a><a href="#" class="follow_btn">+ Follow</a></li>
            <li><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.jpg")"></div><span>Jane Barker</span></a><a href="#" class="follow_btn">+ Follow</a></li>
            <li><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo2.jpg")"></div><span>Darren Shilling</span></a><a href="#" class="follow_btn">+ Follow</a></li>
            <li><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo1.jpg")"></div><span>Jane Barker</span></a><a href="#" class="follow_btn">+ Follow</a></li>
            <li><a href="#" class="profile_btn"><div class="face_circle"><img src="@routes.Assets.at("images/demo2.jpg")"></div><span>Darren Shilling</span></a><a href="#" class="follow_btn">+ Follow</a></li>
        </ul>
    </div>


</div>