@import helper._

<div class="pod">
    <div class="pod_top">
        <a href="#" class="pod_face">
            <img src="@routes.Assets.at("images/demo1.jpg")">
        </a>
        <div class="pod_title">
            <a href="#">Jane Barker</a> voted on <a href="#">Darren Shillingâ€™s</a>  rack <a href="#">Smart Jackets</a>
        </div>
        <div class="pod_top_right">
            <div class="top_right_btn">
                <a class="top_right_vote" href="#">Vote</a>
            </div>
        </div>
    </div>

</div>