
/*********************************************** Fonts
*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg'), url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*********************************************** Layout
*/


html, body {
	height:100%;
	margin:0;
	padding:0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -40px;
	position:relative;
	overflow:hidden;
}

.wrapper .push {
	clear:both;
	height:40px;
}

.footer {
	width:100%;
	position:absolute;
	height:20px;
	z-index:5;
}

.container {
	max-width:1000px;
	margin:0 auto;
	padding:0 20px;
}
.container:after {
	content:'';
	display:table;
	clear:both;
}

/*********************************************** Main
*/

html, body {
	color:#292929;
	font-size:100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}

body {
	font-size:0.8125em;
}

a {
	text-decoration:none;
	font-weight:400;
	color:#333;
}

a:hover {
	text-decoration:underline;
}


/*********************************************** Homepage Styles
*/

.wrapper {
	background:url(../images/hp_bg.jpg) no-repeat center center;
	background-size:cover;
}

.hp_main {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.hp_main > div {
	height:100%;
	width:100%;
	display:table;
}

.hp_main > div > div {
	display:table-cell;
	height:100%;
	vertical-align:middle;
}

.hp_left {
	color:#fff;
	width:60%;
}

.hp_left .logo {
	display:block;
	width:100%;
	height:70px;
	background:url(../images/hp_logo.png) no-repeat left bottom;
	background-size:contain;
	text-indent:-9999px;
}

.hp_left h2 {
	font-size:24px;
	font-weight:300;
	font-style:italic;
}

.hp_welcome {
    font-size:24px;
    font-weight:300;
    width:60%;
    color:#fff;
}

.hp_error {
    font-size:24px;
    font-weight:300;
    width:60%;
   color:#ff0033;
}

.hp_signup {
	color:#fff;
	background:rgba(0,0,0,0.2);
	padding:15px 30px;
	text-align:center;
	margin-top:40px;
}

.hp_signup p {
	font-size:16px;
}

.hp_form {
	width:100%;
	margin-bottom:10px;
	color:#333;
}

.hp_form:after {
	content:'';
	display:table;
	clear:both;
}

.hp_form > div {
	width:30%;
	margin-right:5%;
	float:left;
}

.hp_form > div:last-child {
	margin-right:0;
}

.hp_form > div input {
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:8px;
	font-size:18px;
	border:1px solid #c2c2c2;
}

.hp_form > div input[type="submit"] {
	background:#1dbcbe;
	border:1px solid #18a2a4;
	color:#fff;
	border-radius:3px;
}

.hp_form > div input[type="submit"]:hover {
	background:#23dadc;
}




.hp_login {
	width:180px;
	position:absolute;
	right:20px;
	top:20px;
	color:#fff;
	background:rgba(0,0,0,0.2);
	padding:15px 15px 5px;
	text-align:center;
	font-size:16px;
}


.hp_login_form > div {
	width:100%;
	margin-bottom:10px;
	position:relative;
}

.hp_login_form > div:last-child {
	margin-right:0;
}

.hp_login_form > form div input {
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:3px 5px;
	border:1px solid #c2c2c2;
	color:#333;
}

.hp_login_form > form div a {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:3px 5px;
    border:1px solid #c2c2c2;
    color:#333;
}

.hp_login_form > form div input[type="submit"] {
	background:#1dbcbe;
	border:1px solid #18a2a4;
	color:#fff;
	border-radius:3px;
}

.hp_login_form > form div a {
    background:#1dbcbe;
    border:1px solid #18a2a4;
    color:#fff;
    border-radius:3px;
}

.hp_login_form > form div input[type="submit"]:hover {
	background:#23dadc;
}

.hp_login_form > div.facebook_btn a {
	padding-left:20px;
	background:#1968b9;
	border:1px solid #2a80d7;
}

.hp_login_form > div.facebook_btn a:hover {
	background:#2079d3;
}

.hp_login_form > div.twitter_btn a {
	padding-left:20px;
	background:#18a4d8;
	border:1px solid #24b1e6;
}

.hp_login_form > div.twitter_btn a:hover {
	background:#20b5ec;
}


.hp_login_form > div.facebook_btn:after {
	content:'\f09a';
	font-family: FontAwesome;
	color:#fff;
	font-size:28px;
	position:absolute;
	left:5px;
	top:4px;
}

.hp_login_form > div.twitter_btn:after {
	content:'\f099';
	font-family: FontAwesome;
	color:#fff;
	font-size:22px;
	position:absolute;
	left:5px;
	top:4px;
}

/*********************************************** Footer
*/

.footer {
	background:#f6f6f6;
	border-top:#dfdfdf 1px solid;
	padding:10px 0;
}


.footer_left {
	float:left;
}

.footer_right {
	float:right;
}

.footer a {
	font-weight:300;
}


@media (max-width: 767px) { 

.hp_login {
	width:auto;
	position:relative;
	right:0px;
	top:0px;
	margin:20px 0;
}

.hp_left {
	width:100%;
}

.hp_login_form:after {
	content:'';
	display:table;
	clear:both;
}

.hp_login_form > div {
    width: 50%;
	float:left;
	padding:0 10px 0 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.hp_login_form > div:nth-child(3), .hp_login_form > div:nth-child(4) {
	width:100%;
	padding:0;
}

.hp_login_form > div:nth-child(2), .hp_login_form > div:nth-child(6) {
	padding:0 0 0 10px;
}

.hp_login_form > div:nth-child(6):after {
	left:15px;
}

.hp_main {
    height: auto;
    position: relative;
    width: 100%;
}

.footer {
    position: relative;
    width: 100%;
    z-index: 5;
}

}

@media (max-width: 600px) { 

	.hp_signup {
		padding:5px 15px;
	}
	
	.hp_form > div {
		margin-right: 0;
		width: 100%;
		margin-bottom:10px
	}
	
	.hp_login_form > div {
		width: 100%;
		float:left;
		padding:0;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	
	.hp_login_form > div:nth-child(2), .hp_login_form > div:nth-child(6) {
		padding:0;
	}
	
	.hp_login_form > div:nth-child(6):after {
		left:5px;
	}
}