
/*********************************************** Fonts
*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg'), url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*********************************************** Layout
*/


html, body {
	height:100%;
	margin:0;
	padding:0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -40px;
	position:relative;
	overflow:hidden;
}

.wrapper .push {
	clear:both;
	height:40px;
}

.footer {
	width:100%;
	position:absolute;
	height:20px;
	z-index:5;
}

.container {
	max-width:1300px;
	margin:0 auto;
	padding:0 20px;
}
.container:after {
	content:'';
	display:table;
	clear:both;
}

/*********************************************** Main
*/

html, body {
	color:#292929;
	font-size:100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}

body {
	font-size:0.8125em;
}

a {
	text-decoration:none;
	font-weight:400;
	color:#333;
}

a:hover {
	text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
	margin:10px 0;
}

h1, h2 {
	font-size:24px;
}

h3 {
	font-size:18px;
}

h4 {
	font-size:16px;
}

h5, h6 {
	font-size:16px;
	font-weight:400;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-left {
	text-align:left;
}

.lead {
	font-size:1.2em;
}

img {
	max-width:100%;
}

.face_circle {
	border-radius:50%;
	width:40px;
	height:40px;
	border:1px solid #bbb;
	display:inline-block;
	transition:border-color 0.3s ease;
	-moz-transition:border-color 0.3s ease;
}

.face_circle > img {
	border-radius:50%;
	width:38px;
	height:38px;
	margin:1px;
}

.face_circle:hover, a:hover .face_circle {
	border:2px solid #1dbcbe;
	width:38px;
	height:38px;
	margin-bottom:0px;
}

.face_circle:hover > img, a:hover .face_circle > img {
	margin:0;
	margin-bottom:1px;
}

a.btn {
	border-radius:3px;
	border:1px solid #dfdfdf;
	display:inline-block;
	padding:5px 10px 5px 7px;
	text-align:center;
	background:#f6f6f6;
	color:#1dbcbe;
}

a.btn:hover {
	text-decoration:none;
	background:#fff;
	color:#1dbcbe;
}


a.follow_btn {
	background:#ffffff;
	width:73px;
}

a.follow_btn:hover {
	background:#1dbcbe;
	color:#fff;
}

.hash_tag {
	font-style:italic;
	font-weight:300;
	color:#129ddd;
}

.hash_tag:hover {
	color:#129ddd !important;
}

/*********************************************** Header
*/

.header {
	background:#1dbcbe;
	color:#fff;
	/*border-bottom:#dfdfdf 1px solid;*/
}


.header .left_nav {
	float:left;
	border-right:#fff 1px solid;
}

.header .left_nav > div {
	display:block;
	float:left;
	border-left:#fff 1px solid;
	height:50px;
}

.header .right_nav {
	float:right;
	border-right:#fff 1px solid;
}

.header .right_nav > div {
	display:block;
	float:left;
	border-left:#fff 1px solid;
	height:50px;
}

.header a {
	display:block;
	width:35px;
	text-indent:-99999px;
	padding:0 10px;
	position:relative;
	color:#fff;
	font-size:32px;
	line-height:40px;
	height:50px;
	background:#1dbcbe;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
	-webkit-transition:background 0.3s ease; 
}

.header a:hover {
	background:#23dadc;
	text-decoration:none;
}

.header #menu_btn {
	text-indent:0;
	font-size:11px;
	text-align:center;
	line-height:75px;
}
.header #menu_btn:after {
	content:'\f0c9';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:5%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	font-size:28px;
}

.header a.logo {
	display:block;
	width:206px;
	padding-top:5px;
	height:45px;
}

.header .logo h1 {
	margin:0;
	text-indent:-99999px;
	background:url(../images/logo_x2.png) center center no-repeat;
	background-size:100%;
}

.header #rack_btn:after {
	content:'';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	text-indent:0;
	background:url(../images/add_rack.png) center center no-repeat;
}


.header #alerts_btn:after {
	content:'\f0f3';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	z-index:2;
}

.header #alerts_btn span {
	display:block;
	height:40px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	text-indent:0;
	color:#1dbcbe;
	z-index:3;
	font-size:14px;
	text-align:center;
	width:35px;
}

.header #user_btn {
	width:210px;
	padding:2px 20px 0;
	text-indent:0;
	font-size:24px;
	height:48px;
	vertical-align:middle;
}

.header #user_btn > .name {
	display:inline-block;
	width:100px;
	padding:0 0 0 20px;
	position:relative;
	font-size:16px;
	line-height:24px;
	vertical-align:middle;
}

.header #user_btn .face_circle {
	border:1px solid #dfdfdf;
	vertical-align:middle;
	transition:background 0.3s ease, border 0.3s ease;
	-moz-transition:background 0.3s ease, border 0.3s ease;
}

.header #user_btn:hover .face_circle {
	border:1px solid #fff;
	background:#fff;
	padding:1px;
}


.header #user_btn span:after {
	content:'\f0d7';
	display:block;
	height:40px;
	width:20px;
	position:absolute;
	top:50%;
	right:20px;
	margin-left:-17.5px;
	margin-top:-20px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	z-index:2;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 4/3),
    only screen and (min--moz-device-pixel-ratio: 1.3),
    only screen and (min-device-pixel-ratio: 1.3) {
	.header .logo h1 {
		background:url(../images/logo_x2.png) center center no-repeat;
		background-size:100%;
	}
	
	.header #rack_btn:after {
		background:url(../images/add_rack_x2.png) center center no-repeat;
		background-size:100%;		
	}
}


/*********************************************** Menu
*/

.drop_down_menu {
	background:#fff;
	width:400px;
	padding:0 20px;
	position:absolute;
	z-index:100;
	top:0;
	border:none;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
	max-height:0;
	overflow:hidden;
	transition:max-height 0.5s ease;
	-webkit-transition:max-height 0.5s ease;
	margin-left:1px;
}

.drop_down_menu.active {
	max-height:800px;
	border:solid 1px #dfdfdf;
	border-top:none;
	margin-left:0;
}

.drop_down_menu h4 {
	color:#222;
}

.drop_down_menu .menu_tabs {
	position:absolute;
	height:50px;
	border-bottom:solid 1px #dfdfdf;
	width:100%;
	left:0;
	top:0;
}

.drop_down_menu .menu_tabs a {
	height:50px;
	padding:0 20px;
	line-height:50px;
	border-right:solid 1px #dfdfdf;
	font-size:16px;
}

.drop_down_menu .menu_tabs a.active {
	border-bottom:solid 1px #fff;
}

.drop_down_menu a {
	text-indent:0;
	height:auto;
	display:inline-block;
	background:none;
	color:#222;
	font-size: 14px;
	line-height:18px;
	width:auto;
	padding:0;
	font-weight:300;
}

.drop_down_menu a:hover, .view_all a {
	background:none;
	color:#1dbcbe;
}

.drop_down_menu > ul {
	margin-top:60px;
	padding:0;
	display:none;
}

.drop_down_menu > ul.active {
	display:block;
}

.drop_down_menu > ul > li {
	display:block;
	padding:0;
	width:50%;
	float:left;
	margin-bottom:20px;
}

.drop_down_menu > ul > li:nth-child(n+2) {
	display:block;
	padding:0;
	width:50%;
	float:right;
}

.drop_down_menu > ul ul {
	padding:0;
}

.drop_down_menu > ul ul li {
	list-style:none;
}

/*********************************************** Sidebar
*/

#sidebar {
	background:#f6f6f6;
	/*background:#efefef;*/
	width:220px;
	padding:20px 20px 20px 0;
	float:left;
	position:relative;
	z-index:2;
}

#sidebar:before {
	content:'';
	display:block;
	position:absolute;
	top:0;
	height:1000%;
	margin-left:-1000%;
	padding:0 240px 0 0;
	background:#f6f6f6;
	width:1000%;
	z-index:-1;
	box-shadow: 1px 0 0 0 #dfdfdf;
}

#sidebar > div {
	margin-bottom:20px;
}

#sidebar .sidebar_search {
	position:relative;
}

#sidebar .sidebar_search #search_input {
	width:100%;
	padding:9px 40px 11px 10px;
	box-sizing:border-box;
	height:42px;
	letter-spacing:-0.02em;
	font-size:14px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}


#sidebar .sidebar_search #search_input:-ms-input-placeholder {font-style:italic; color:#c1c1c1;}
#sidebar .sidebar_search #search_input::-ms-clear { color:#c1c1c1; margin-top:2px; }
#sidebar .sidebar_search #search_input::-ms-clear:hover { 	color:#1dbcbe;  }
#sidebar .sidebar_search #search_input:-moz-placeholder {font-style:italic; color:#999;}
#sidebar .sidebar_search #search_input::-moz-placeholder {font-style:italic; color:#999;}
#sidebar .sidebar_search #search_input[placeholder]::-webkit-input-placeholder {font-style:italic; color:#c1c1c1;}

#sidebar .sidebar_search #search_input:focus::-moz-placeholder {opacity: 0;}

#sidebar .sidebar_search #search_input:focus:-moz-placeholder {	opacity: 0;}

#sidebar .sidebar_search #search_input[placeholder]:focus::-webkit-input-placeholder {transition: opacity 0.5s 0.3s ease; opacity: 0;}

#sidebar .sidebar_search #search_input:focus {
	font-style:normal;
}


#sidebar .sidebar_search #search_submit_container {
	position:absolute;
	top:10px;
	right:10px;
	width:35px;
	height:40px;
}

#sidebar .sidebar_search #search_submit_container:before {
	content:'\f002';
	display:block;
	width:35px;
	height:40px;
	position:absolute;
	top:-2px;
	right:-2px;
	font-size:24px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	color:#c1c1c1;
	transition:color 0.3s ease;
	-moz-transition:color 0.3s ease;
}

#sidebar .sidebar_search #search_submit {
	width:35px;
	height:40px;
	background:none;
	border:none;
	text-indent:-99999px;
	cursor:pointer;
	position:relative;
	z-index:2;
}

#sidebar .sidebar_search #search_submit_container:hover:before {
	color:#1dbcbe;
}

#sidebar a {
	color:#333;
}

#sidebar a.hash_tag {
	color:#129ddd;
}

#sidebar .tranding_tags ul {
	padding:0;
	margin:10px 0;
}

#sidebar .tranding_tags ul li {
	list-style:none;
}

#sidebar .suggested_friends ul {
	padding:0;
	margin:10px 0;
}

#sidebar .suggested_friends ul li {
	list-style:none;
}

#sidebar .suggested_friends ul li {
	list-style:none;
	margin-bottom:15px;
}


#sidebar a.follow_btn {
	font-size:1.1538em;
	color:#1dbcbe;
}

#sidebar a.follow_btn:hover {
	color:#fff;
}

#sidebar .sidebar_profile_btn {
	width:120px;
	margin-right:8px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	font-size:1.3846em;
	font-weight:700;
}

#sidebar .sidebar_profile_btn:hover {
	text-decoration:none;
}

#sidebar .sidebar_profile_btn span {
	display:block;
}

/*********************************************** Main Content
*/

.main_content {
	float:right;
	width:100%;
	margin-left:-265px;
	padding-left:265px;
	box-sizing:border-box;
	margin-top:20px;
	position:relative;
	z-index:1;
}

/*********************************************** News Feed
*/

.pod {
	float:right;
	margin-left:20px;
	width:100%;
	min-width:680px;
	/*background:red;*/
	font-size:1.1538em;
	margin-bottom:30px;
}

.pod .pod_top {
	background:#f6f6f6;
	border:1px solid #dfdfdf;
	height:40px;
	padding-left:100px;
	padding-right:160px;
	position:relative;
	line-height:38px;
}

.pod .pod_top a {
	color:#333;
}

.pod .pod_top .hash_tag {
	color:#129ddd;
}

.pod .pod_top .pod_name {
	font-size:18px;
	font-weight:700;
}

.pod .pod_top .pod_rack_name {
	font-weight:700;
}

.pod .pod_top .pod_face {
	position:absolute;
	left:20px;
	top:-10px;
	width:60px;
	height:60px;
	display:block;
	border:1px solid #dfdfdf;
	border-radius:50%;
	background:#fff;
	transition:border-color 0.3s ease;
	-moz-transition:border-color 0.3s ease;
}

.pod .pod_top .pod_face:hover {
	border:2px solid #1dbcbe;
	width:58px;
	height:58px;
}

.pod .pod_top .pod_face > img {
	width:56px;
	border-radius:50%;
	margin:2px 0 0 2px;
}

.pod .pod_top .pod_face:hover > img {
	margin:1px 0 0 1px;
}

.pod .pod_top .pod_title {
	display:inline-block;
	vertical-align:middle;
	line-height:20px;
}

.pod .pod_top .pod_top_right {
	width:140px;
	position:absolute;
	right:0;
	top:0;
	height:40px;
	border-left:1px solid #dfdfdf;
	vertical-align:middle;
}

.pod .pod_top .pod_top_right .countdown {
	text-align:center;
	margin-top:2px;
}

.pod .pod_top .pod_top_right .countdown > div {
	display:inline-block;
	color:#0A8446;
}

.pod .pod_top .pod_top_right .countdown > div:before {
	content:'\f017';
	font-family: FontAwesome;
	margin-right:5px;
}

.pod .pod_top .pod_top_right .top_right_btn a {
	width:140px;
	height:38px;
	text-align:center;
	display:block;
	padding-top:2px;
	background:#ffffff;
	color:#1dbcbe;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_top .pod_top_right .top_right_btn a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_top .pod_top_right .top_right_vote:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;
}

.pod .pod_top .pod_top_right .top_right_view:before {
	content:'\f06e';
	font-family: FontAwesome;
	margin-right:5px;
}


.pod .pod_footer {
	background:#ffffff;
	border:1px solid #dfdfdf;
	height:30px;
	padding-left:0px;
	padding-right:160px;
	position:relative;
	line-height:30px;
}

.pod .pod_footer a {
	color:#bbb;
}

.pod .pod_footer .hash_tag {
	color:#129ddd;
}


.pod .pod_footer > div {
	float:left;
	text-align:center;
}

.pod .pod_footer .pod_comments a {
	height:30px;
	width:70px;
	display:block;
	border-right:1px solid #dfdfdf;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_footer .pod_comments a:before {
	content:'\f075';
	font-family: FontAwesome;
	margin-right:5px;	
}

.pod .pod_footer .pod_comments a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_footer .pod_vote_summery a {
	height:30px;
	width:70px;
	display:block;
	border-right:1px solid #dfdfdf;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_footer .pod_vote_summery a:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;	
}

.pod .pod_footer .pod_vote_summery a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_footer .pod_share a {
	height:30px;
	width:140px;
	display:block;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_footer a:hover {
	color:#1dbcbe;
}

.pod .pod_footer .pod_share a:before {
	content:'\f064';
	font-family: FontAwesome;
	margin-right:5px;	
}

.pod .pod_footer .pod_share a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_footer .pod_hash_tags {
	float:none;
	text-align:right;
	font-size:0.875em;
}

.pod .pod_footer .pod_footer_right {
	width:140px;
	position:absolute;
	right:0;
	top:0;
	height:30px;
	border-left:1px solid #dfdfdf;
	vertical-align:middle;
}

.pod .pod_content {
	margin:1px 0;
	padding:10px;
	border:1px solid #dfdfdf;
	background:#ffffff;
}

/*********************************************** Pod --- Rack
*/

.pod .pod_rack.done {
	padding-bottom:3px;
}


.pod .pod_rack ul {
	border-top:2px solid #d4d4d4;
	margin:5px -10px 0;
	padding:0;
}

.pod .pod_rack ul li {
	display:inline-block;
	width:20%;
	margin:0 -4px 0 0;
	text-align:center;
	margin-top:15px;
	position:relative;
	line-height:17px;
}

.pod .pod_rack ul li:before {
	content:'';
	display:block;
	width:0;
	border:1px solid #d4d4d4;
	height:13px;
	position:absolute;
	left:50%;
	top:-15px;
	margin-left:-1px;
}

.pod .pod_rack ul li:after {
	content:'';
	display:block;
	width:8px;
	height:8px;
	background:#d4d4d4;
	position:absolute;
	left:50%;
	top:-20px;
	margin-left:-4px;
	border-radius:50%;
}

.pod .pod_rack ul li .rack_image {
	display:inline-block;
	width:130px;
	border:1px solid #d4d4d4;
	position:relative;
	line-height:normal;
}

.pod .pod_rack ul li.chosen .rack_image {
	border:2px solid #1dbcbe;
	margin:-1px;
}


.pod .pod_rack ul li.chosen:before {
	border:1px solid #1dbcbe;
}

.pod .pod_rack ul li.chosen:after {
	background:#1dbcbe;
}

.pod .pod_rack ul li .rack_image img {
	width:130px;
	display:block;
	transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
}

.pod .pod_rack ul li .rack_image:hover img {
	opacity:0.75;	
}

.pod .pod_rack ul li .rack_image a {
	position:absolute;
	background:#efefef;
	transition:background 0.3s ease, bottom 0.3s ease, opacity 0.3s ease;
	-moz-transition:background 0.3s ease, bottom 0.3s ease, opacity 0.3s ease;	
	border:1px solid #cfcfcf;
	border-radius:3px;
	color:#666666;
	line-height:24px;
}

.pod .pod_rack ul li .rack_image a:hover {
	text-decoration:none;
	background:#ffffff;
}

.pod .pod_rack ul li .rack_image .vote_btn {
	bottom:10px;
	left:10px;
	width:110px;
	height:25px;
	z-index:1;
}

.pod .pod_rack ul li .rack_image .vote_btn:after {
	content:'\f006';
	font-family: FontAwesome;
	margin-left:5px;
	color:#666666;
}

.pod .pod_rack ul li .rack_image .vote_btn:hover:after {
	content:'\f005';
	font-family: FontAwesome;
	color:#1dbcbe;
}

.pod .pod_rack ul li .rack_image .rack_btn {
	bottom:20px;
	left:10px;
	width:75px;
	height:25px;
	background:#1dbcbe;
	border:1px solid #18a2a4;
	color:#fff;
	text-indent:-9999px;
	opacity:0;
}

.pod .pod_rack ul li .rack_image .rack_btn:after {
	content:'';
	display:block;
	height:19px;
	width:48px;
	position:absolute;
	left:15px;
	top:3px;
	background:url(../images/rack.png) center center no-repeat;	
}

.pod .pod_rack ul li .rack_image .rack_btn:hover {
	background:#23dadc;
}

.pod .pod_rack ul li .rack_image .info_btn {
	bottom:20px;
	left:95px;
	width:25px;
	height:25px;
	text-indent:-9999px;
	opacity:0;
}

.pod .pod_rack ul li .rack_image .info_btn:after {
	content:'';
	display:block;
	height:22px;
	width:22px;
	position:absolute;
	left:2px;
	top:1px;
	background:url(../images/info.png) center center no-repeat;	
}

.pod .pod_rack ul li .rack_image:hover .info_btn, .pod .pod_rack ul li .rack_image:hover .rack_btn {
	opacity:1;
	bottom:45px;
}


.pod .pod_rack ul li .rack_stats {
	display:inline-block;
	width:130px;
	text-align:left;
	font-size:0.7em;
	color:#bbb;
}

.pod .pod_rack ul li .rack_stats .rack_votes {
	margin-right:10px;
}

.pod .pod_rack ul li .rack_stats .rack_votes:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;
}

.pod .pod_rack ul li .rack_stats .rack_racks:before {
	content:'';
	margin-right:5px;
	width:11px;
	height:9px;
	display:inline-block;
	background:url(../images/racked.png) center center no-repeat;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 4/3),
    only screen and (min--moz-device-pixel-ratio: 1.3),
    only screen and (min-device-pixel-ratio: 1.3) {
	
	.pod .pod_rack ul li .rack_image .rack_btn:after {
		background:url(../images/rack_x2.png) center center no-repeat;
		background-size:100%;
	}
	
	.pod .pod_rack ul li .rack_image .info_btn:after {
		background:url(../images/info_x2.png) center center no-repeat;
		background-size:100%;
	}
	
	.pod .pod_rack ul li .rack_stats .rack_racks:before {
		background:url(../images/racked_x2.png) center center no-repeat;
		background-size:100%;
	}
	
}

/*********************************************** Pod --- Others
*/

.pod.following_user .face_circle {
	vertical-align:middle;
	margin:0 7px 2px 5px;
	height:30px;
	width:30px;
}

.pod.following_user .face_circle > img, .pod.following_user .face_circle:hover, .pod.following_user a:hover .face_circle {
    height: 28px;
    width: 28px;
}

.pod .pod_content.following ul {
	margin:0;
	padding:0;
}

.pod .pod_content.following ul li {
	display:inline-block;
	box-sizing:border-box;
	width:50%;
	margin:5px -2px;
	padding:0 160px 0 10px;
	position:relative;
}

.pod .pod_content.following ul li .follow_btn {
	position:absolute;
	right:10px;
}

/*********************************************** Form
*/


input:focus {
    outline: none;
}

input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="search"] {
	border:1px solid #dfdfdf;
	transition:border-color 0.3s ease;
	-moz-transition:border-color 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus {
	border:1px solid #1dbcbe;
}

input.hash_tag, input.hash_tag:hover {
	color:#292929 !important;
}

.form .control {
	position:relative;
}

.form .control label {
	width:150px;
	margin:20px 0;
	display:block;
	height:26px;
	padding-top:5px;
}

.form .control > div {
	position:absolute;
	padding-left:170px;
	top:0;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.form .control > div input, .form .control > div select {
	padding:5px;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.form .control > div.date select {
	float:left;
	margin-right:5px;
}

.form .control > div.date select#day {
	width:100px;
}

.form .control > div.date select#month {
	width:200px;
}

.form .control > div.date select#hour {
	width:100px;
}


/*********************************************** Chosen Overides
*/

.chosen-container {
	font-weight:300;
	font-size:inherit;
}

.chosen-container .chosen-single {
	border-radius:0;
	border:1px solid #dfdfdf;
	background:#fff;
	box-shadow:none;
	padding:5px;
	font-weight:300;
}

.chosen-container-single .chosen-single div {
	border-left:1px solid #dfdfdf;
	padding-left:5px;
}

.chosen-container-single .chosen-single div b {
	margin-top:5px;
}

.chosen-container .chosen-drop {
	background:#fff;
	border:1px solid #dfdfdf;
	border-radius:0;
	border-top:none;
}

.chosen-container.chosen-with-drop .chosen-single {
	background:#fff;
	border:1px solid #dfdfdf;
	border-bottom:none;
}

.chosen-container-single .chosen-search input[type="text"] {
	border:1px solid #dfdfdf;
	padding:3px 25px 3px 3px;
	font-family: 'Roboto Condensed', sans-serif;
}

.chosen-container .chosen-results li.highlighted {
  background: #1dbcbe;
  color: #fff;
}

/*********************************************** Profile
*/

.profile_info {
	position:relative;
	padding-left:180px;
	min-height:170px;
	margin-bottom:10px;
	font-size:1.1538em;
}

.profile_info .profile_face {
	border:2px solid #bbb;
	border-radius:50%;
	width:155px;
	height:155px;
	padding:3px;
	position:absolute;
	top:0;
	left:0;
}

.profile_info .profile_face img {
	border-radius:50%;
	width:155px;
	height:155px;
}

.profile_info .profile_stats {
	color:#bbb;
}

.profile_info .profile_stats span:nth-last-child(n+2) {
	margin-right:30px;
	position:relative;
}

.profile_info .profile_stats span:nth-last-child(n+2):after {
	content:'\f111';
	font-family: FontAwesome;
	position:absolute;
	right:-17px;
	top:7px;
	font-size:5px;
}

.profile_actions {
	margin-bottom:30px;
}
.profile_actions:after {
	content:'';
	display:block;
	clear:both;
}
.profile_actions > div {
	display:block;
	float:left;
	width:21.25%;
	margin-right:5%;
}
.profile_actions > div:last-child {
	margin-right:0;
}
.profile_actions > div a {
	display:block;
	text-align:center;
}

.edit_rack:before {
	content:'\f013';
	font-family: FontAwesome;
	margin-right:5px;
}

/*********************************************** Search
*/

.search {
	font-size:1.1538em;
}

.result_title {
	color:#bbb;
}

.result_title h2:before {
	content:'\f002';
	font-family: FontAwesome;
	margin-right:10px;
	font-weight:400;
}

.results h3 {
	color:#1dbcbe;
}

.results ul {
	padding:0;
	margin-bottom:20px;
}

.results ul li {
	list-style:none;
	position:relative;
	padding-left:70px;
	padding-right:100px;
	min-height:60px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #dfdfdf;
}

.results ul li .result_thumb {
	position:absolute;
	top:0;
	left:0;
}

.results ul li .result_thumb .face_circle {
	width:60px;
	height:60px;
}

.results ul li .result_thumb .face_circle > img {
	width:58px;
	height:58px;
}

.results ul li .result_thumb .face_circle:hover, .results ul li .result_thumb a:hover .face_circle {
    height: 58px;
    width: 58px;
}

.results ul li .result_info {
	padding-top:1px;
}

.results ul li .result_info h4 {
	margin-bottom:5px;
	margin-top:5px;
}

.results ul li .result_info > div {
	color:#bbb;
}

.results ul li .result_info > div span:nth-last-child(n+2) {
	margin-right:30px;
	position:relative;
}

.results ul li .result_info > div span:nth-last-child(n+2):after {
	content:'\f111';
	font-family: FontAwesome;
	position:absolute;
	right:-17px;
	top:7px;
	font-size:5px;
}

.results ul li .result_action {
	position:absolute;
	right:0;
	top:20px;
}

.results_racks ul li .result_thumb div {
	border: 1px solid #bbb;
    border-radius: 50%;
    display: block;
    height: 60px;
    transition: border-color 0.3s ease 0s;
    width: 60px;
}

.results_racks ul li .result_thumb div span {
    height: 58px;
    width: 58px;
    display: block;
    border-radius: 50%;
    margin: 1px;
	background:#1dbcbe;
	position:relative;
}

.results_racks ul li .result_thumb div span:after {
	content:'';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	text-indent:0;
	background:url(../images/add_rack.png) center center no-repeat;
}

.results_racks ul li .result_thumb div:hover {
	border: 2px solid #1dbcbe;
    height: 58px;
    width: 58px;
}

.results_racks ul li .result_thumb div:hover span {
    height: 56px;
    width: 56px;
}

.results_tags ul li .result_thumb div {
	border: 1px solid #bbb;
    border-radius: 50%;
    display: block;
    height: 60px;
    transition: border-color 0.3s ease 0s;
    width: 60px;
}

.results_tags ul li .result_thumb div span {
    height: 58px;
    width: 58px;
    display: block;
    border-radius: 50%;
    margin: 1px;
	background:#1dbcbe;
	position:relative;
	text-align:center;
	color:#fff;
	line-height:58px;
	font-size:24px;
}


.results_tags ul li .result_thumb div:hover {
	border: 2px solid #1dbcbe;
    height: 58px;
    width: 58px;
}
.results_tags ul li .result_thumb a:hover {
	text-decoration:none;
}
.results_tags ul li .result_thumb div:hover span{
    height: 56px;
    width: 56px;
	line-height:56px;
	text-decoration:none;
}

.results ul li .result_action a {
	width: 73px;
	background:#ffffff;
}
.results ul li .result_action a:hover {
	background:#f6f6f6;
	color:#1dbcbe;
}
.results ul li .result_action a.vote_btn:before {
	content: '\f005';
	font-family: FontAwesome;
	margin-right: 5px;
}
.results ul li .result_action a.view_btn:before {
	content: '\f06e';
	font-family: FontAwesome;
	margin-right: 5px;
}
/*********************************************** Footer
*/

.footer {
	background:#f6f6f6;
	border-top:#dfdfdf 1px solid;
	padding:10px 0;
}


.footer_left {
	float:left;
}

.footer_right {
	float:right;
}

.footer a {
	font-weight:300;
}

/*********************************************** Overlay
*/

.overlay {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:10;
	opacity:0;
	transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
}

.overlay.open {
	opacity:1;
}

.overlay .overlay_bg {
	background:#adadad;
	opacity:0.8;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

.overlay .overlay_outer {
	width:100%;
	height:100%;
	max-width:960px;
	margin:0 auto;
	position:relative;
}

.overlay .overlay_inner {
	background:#f6f6f6;
	margin-top:20px;
	box-shadow:0 0 20px rgba(0,0,0,0.1);
	position:relative;
	padding-bottom:60px;
}

.overlay .overlay_inner.nofooter {
	padding-bottom:0px;
}

.overlay .overlay_inner .overlay_header {
	padding:10px 10px;
	background:#fff;
	border-bottom:#d3d3d3 1px solid;	
}

.overlay .overlay_inner .overlay_header h2 {
	margin:0;
}

.overlay .overlay_inner .overlay_footer {
	background:#fff;
	border-top:#d3d3d3 1px solid;
	position:absolute;
	bottom:0;
	width:100%;
}

.overlay .overlay_inner .overlay_footer .actions {
	padding:10px;
	float:right;
}

.overlay .overlay_inner .overlay_footer .actions .btn {
	padding:7px 15px;
	font-size:1.1538em;
	margin-left:3px;
}

.overlay .overlay_inner .overlay_footer .info {
	padding:10px;
	float:left;
	display:table;
	height:40px;
	width:60%;
}

.overlay .overlay_inner .overlay_footer .info p {
	margin:0;
	display:table-cell;
	vertical-align:middle;
	color:#666;
}

.overlay .overlay_inner .overlay_content {
	padding:10px 20px;
	font-size:1.1538em;
}

/*********************************************** Overlay -- Make a Rack
*/

.overlay .overlay_outer#make_a_rack {
	max-width:680px;
}

.make_rack {
	padding-top:14px;
	margin-top:30px;
	border-top:2px solid #d4d4d4;
	margin-bottom:20px;
}

.make_rack:after {
	content:'';
	display:table;
	clear:both;
}

.make_rack > div {
	width:20%;
	float:left;
	position:relative;	
}

.make_rack > div:before {
    border: 1px solid #d4d4d4;
    content: "";
    display: block;
    height: 13px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: -15px;
    width: 0;
}

.make_rack > div:after {
    background: #d4d4d4;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -20px;
    width: 8px;
}


.make_rack > div > div {
	margin:0 5px;
	position:relative;
    border: 1px solid #d4d4d4;
	background:#fff;
}

.make_rack > div > div img {
	display:block;
}

.make_rack .make_rack_item > div {
	overflow:hidden;
}

.make_rack .make_rack_item .holding_btn, .make_rack .make_rack_item .upload_btn, .make_rack .make_rack_item .site_btn, .make_rack .make_rack_item .remove_btn {
	background: #efefef;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    color: #666666;
    line-height: 18px;
	padding:5px 4%;
	top:-50%;
	margin:0 5%;
    position: absolute;
    transition: background 0.3s ease 0s, top 0.3s ease 0s, bottom 0.3s ease 0s, opacity 0.3s ease 0s;
	-webkit-transition: background 0.3s ease 0s, top 0.3s ease 0s, bottom 0.3s ease 0s, opacity 0.3s ease 0s;
	text-align:center;
	width:80%;
}

.make_rack .make_rack_item:hover .site_btn {
	top:42.5%;
}

.make_rack .make_rack_item:hover .holding_btn {
	top:15%;
}

.make_rack .make_rack_item .upload_btn, .make_rack .make_rack_item .remove_btn {
	top:auto;
	bottom:-50%;
}

.make_rack .make_rack_item:hover .upload_btn {
	bottom:15%;
}

.make_rack .make_rack_item:hover .remove_btn {
	bottom:5%;
}

.make_rack .make_rack_item .holding_btn:hover, .make_rack .make_rack_item .upload_btn:hover, .make_rack .make_rack_item .site_btn:hover, .make_rack .make_rack_item .remove_btn:hover {
	background: #fff;
	text-decoration:none;
}

/*********************************************** Overlay -- Select an Item
*/

.overlay .overlay_outer#select_item {
	max-width:680px;
}

.overlay .overlay_outer#select_item .overlay_inner {
	height:80%;
}

.hold_area_popup {
	position:absolute;
	top:70px;
	bottom:80px;
	left:0;
	width:100%;
}

.hold_area_popup > div {
	margin:0 10px;
	padding:10px 0 0 0;
	background:#fff;
	height:100%;
	overflow-y:scroll;
    border: 1px solid #cfcfcf;
}

.hold_area_select {
	margin:0 0 0 10px;
	padding:0;
}

.hold_area_select:after {
	content:'';
	display:table;
	clear:both;
}

.hold_area_select li {
	margin:0;
	padding:0;
	width:22.5%;
	margin-right:2%;
	margin-bottom:2%;
	float:left;
	list-style:none;
    border: 1px solid #cfcfcf;
	display:block;
}

.hold_area_select li img {
	display:block;
}


/*********************************************** Overlay -- Rack
*/

.overlay .overlay_inner.nofooter .overlay_content {
	position:relative;
}

.overlay_header .countdown {
	position:absolute;
	top:0;
	right:0;
	padding:20px;
	font-size:20px;
	line-height:15px;
	border-left:1px solid #d3d3d3;
	color:#0a8446;
}

.overlay_header .countdown > div:before {
	content: '\f017';
	font-family: FontAwesome;
	margin-right: 8px;
}

.overlay_header .overlay_title {
	font-size: 24px;
	margin-left:90px;
}

.overlay_header .overlay_title a {
	font-weight:700;
}

.overlay_header .face_circle {
	height:70px;
	width:70px;
	position:absolute;
	top:-10px;
	background:#fff;
}

.overlay_header .face_circle > img {
    height: 68px;
    width: 68px;
}

.overlay_header .face_circle:hover, .overlay_header a:hover .face_circle {
    height: 68px;
    width: 68px;
}

.overlay_rack {
	width:300px;
	border-right:1px solid #d3d3d3;
	margin-top:-10px;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	margin-bottom:-10px;
}

.overlay_rack .overlay_rack_carosel {
	position:relative;
	margin:5px -20px 0;
	padding-top:5px;
}

.overlay_rack .overlay_rack_carosel:after {
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    top: 3px;
	border-top: 2px solid #d4d4d4;
    width: 100%;
}

.overlay_rack .overlay_rack_carosel div {
	margin-top:20px;
	text-align:center;
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0 20px;
}

.overlay_rack .overlay_rack_carosel div:before {
    border: 1px solid #d4d4d4;
    content: "";
    display: block;
    height: 13px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: -15px;
    width: 0;
}

.overlay_rack .overlay_rack_carosel div:after {
    background: none repeat scroll 0 0 #d4d4d4;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -20px;
    width: 8px;
}

.overlay_rack .overlay_rack_carosel div img {
	display:inline-block;
	width:100%;
	border:2px solid #d4d4d4;
	border-radius:2px;
}

.overlay_rack_carosel_nav {
	width:100%;
	padding:0;
	margin:10px 0 0;
}

.overlay_rack_carosel_nav:after {
	content:'';
	display:block;
	clear:both;
}

.overlay_rack_carosel_nav li {
	width:16%;
	display:block;
	float:left;
	margin-right:5%;
}

.overlay_rack_carosel_nav li:last-child {
	margin-right:0;
}

.overlay_rack_carosel_nav li img {
	border:1px solid #d4d4d4;
}

.overlay_rack .rack_stats {
	color:#bbb;
	font-size:11px;
}

.overlay_rack .rack_stats span {
	margin-right:5px;
}

.overlay_rack .rack_stats .rack_votes:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;
}

.overlay_rack .rack_stats .rack_comments:before {
	content:'\f075';
	font-family: FontAwesome;
	margin-right:5px;
}

.overlay_rack .rack_stats .rack_racks:before {
	content:'';
	margin-right:5px;
	width:11px;
	height:9px;
	display:inline-block;
	background:url(../images/racked.png) center center no-repeat;
}


.rack_actions {
	margin:10px 0;
}

.rack_actions:after {
	content:'';
	display:block;
	clear:both;
}

.rack_actions a {
	width:31%;
	padding-left:0;
	padding-right:0;
	margin-right:2.33%;
	display:block;
	float:left;	
}

.rack_actions a:last-child {
	margin-right:0;
}

.rack_actions a.vote_btn:after {
    color: #666666;
    content: '\f006';
    font-family: FontAwesome;
    margin-left: 5px;
}

.rack_actions a.vote_btn:hover:after {
    color: #1dbcbe;
    content: "\f005";
}

.rack_actions a.share_btn:before {
	content:'\f064';
	font-family: FontAwesome;	
	margin-right:5px;
}

.rack_actions a.rack_btn {
	background: #1dbcbe;
    border: 1px solid #18a2a4;
	text-indent:-9999px;
	position:relative;
}

.rack_actions a.rack_btn:after {
	background: url("../images/rack.png") no-repeat scroll center center;
    content: "";
    display: block;
    height: 19px;
    left: 50%;
	margin-left:-24px;
    position: absolute;
    top: 5px;
    width: 48px;
}

.rack_actions a.rack_btn:hover {
	background: #23dadc;
}

.overlay_comments {
	position:absolute;
	top:0;
	bottom:0;
	left:341px;
	right:0;
	background:#ffffff;
}

.overlay_comments .overlay_comments_container {
	padding:10px 20px;
}

.overlay_comments .overlay_comments_container .comments_container {
	position:absolute;
	top:30px;
	bottom:170px;
	width:100%;
	left:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px;
}

.submit_comment {
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px;
	height:160px;
	border-top:1px solid #d3d3d3;
	background:#f6f6f6;
}

.submit_comment {
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px;
	height:160px;
	border-top:1px solid #d3d3d3;
	background:#f6f6f6;
}

.text_area textarea{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #d3d3d3;
	padding:8px;
	height:85px;
}

.submit_area {
	text-align:right;
	margin-top:10px;
	position:relative;
}

.submit_area a:before {
	content: '\f075';
	font-family: FontAwesome;
	margin-right:5px;
}

.submit_area a {
	padding-left:15px;
	padding-right:15px;
	cursor:pointer;
}

/*********************************************** Comments
*/


.comments_container ul {
	overflow-y:scroll;
	height:100%;
	padding:0;
}

.comments_container ul li {
	list-style:none;
	position:relative;
}

.comments_container ul li .profile_pic {
	position:absolute;
	left:0;
	top:0;
}

.comments_container ul li .comment {
	padding-left:60px;
	padding-top:1px;
}

.comments_container ul li .comment h4 {
	margin:5px 0;
}

.comments_container ul li .comment p {
	margin:0 0 10px;
}


/*********************************************** Tablet
*/


@media (max-width: 1000px) {
	
	#sidebar {
		position:absolute;
		top:0;
		left:-260px;
	}
	
	.main_content {
		float: left;
		margin-left: 0px;
		padding-left: 0px;
	}
	
	
}
