@(loginForm: play.api.data.Form[(String,String)], errorMsg: Option[String] = None)(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import securesocial.core.Registry
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.UsernamePasswordProvider.UsernamePassword

@loggedout(Messages("securesocial.login.title")) {

@errorMsg.map { msg =>
<div class="alert alert-error">
    @Messages(msg)
</div>
}

@request.flash.get("success").map { msg =>
<div class="alert alert-info">
    @msg
</div>
}

@request.flash.get("error").map { msg =>
<div class="alert alert-error">
    @msg
</div>
}


<div class="hp_login">
    <div>Login</div>
    <div class="hp_login_form">

    @defining( Registry.providers.all.values.filter( _.id != UsernamePassword) ) { externalProviders =>
        @if( externalProviders.size > 0 ) {
            <p>
                @for(p <- externalProviders) {
                    @provider(p.id)(request)
                }
            </p>
        }
        @Registry.providers.get(UsernamePassword).map { up =>
           @provider("userpass", Some(loginForm))(request)
        }
    }
    </div>
</div>
}