@(providerId: String, loginForm: Option[play.api.data.Form[(String, String)]] = None)(implicit request: play.api.mvc.RequestHeader)

@import securesocial.core.Registry
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import securesocial.core.providers.utils.RoutesHelper
@import play.api.Logger
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@Registry.providers.get(providerId).map { provider =>

            @if( provider.authMethod == UserPassword ) {
                <form action="@securesocial.core.providers.utils.RoutesHelper.authenticateByPost("userpass").absoluteURL(IdentityProvider.sslEnabled)(request)"
                class="form-horizontal" autocomplete="off" method="POST">
                    <div><input id="username" type="username" placeholder="username"></div>
                    <div><input id="password" type="password" placeholder="password"></div>
                    <div><input type="submit" id="hp_login_submit" value="login"/></div>
                </form>
            }
            <!--<div class="facebook_btn"><input id="hp_login_facebook" type="submit" value="Sign in with Facebook"></div>-->
            <!--<div class="twitter_btn"><input id="hp_login_twitter" type="submit" value="Sign in with Twitter"></div>-->
            <!---->
            @if( provider.authMethod != UserPassword ) {
                @defining( "securesocial/images/providers/%s.png".format(provider.id) ) { imageUrl =>
                        <div
                                @if( provider.authenticationUrl.contains("twitter") ) {
                                    class="twitter_btn"><a href="@provider.authenticationUrl">Sign in with Twitter</a>
                                }
                                @if( provider.authenticationUrl.contains("facebook") ) {
                                    class="facebook_btn"><a href="@provider.authenticationUrl">Sign in with Facebook</a>
                                }

                        </div>
                }

            }

}.getOrElse {
@*****************************************
* Todo: throw a runtime exception? this might need improvement
*****************************************@
@Logger.error("[securesocial] unknown provider '%s'. Can't render it.".format(providerId))
{ throw new RuntimeException("Unknown provider '%s') }
}
