@()

@import helper._

@authorized("Uploader") {

<div id="uploadResult"><img id="image"/></div>
@helper.form(action = routes.HeldItems.upload, 'id->"uploadToHoldAreaForm", 'name->"uploadToHoldAreaForm", 'enctype -> "multipart/form-data") {
<input type="file" name="file">
<p><input type="submit" id="addToHoldAreaBtn"></p>
}

}
